:root {
    --primary: #14161c;
    --secondary: #1de684;
    --thirdsary: #abb3ba;
    --light: #f5f5f5;
}

/* Background utilities */
.bg-primary-p { background-color: var(--primary); }
.bg-secondary-p { background-color: var(--secondary); }
.bg-light-p { background-color: var(--light); }

/* Text utilities */
.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-thirdsary { color: var(--thirdsary); }
.text-light { color: var(--light); }
